In [1]:
import pandas as pd
import numpy as np

In [2]:
arr = np.array([1,2,3,4,5,6])
arr

array([1, 2, 3, 4, 5, 6])

# try with pandas

In [4]:
ps = pd.Series([1,2,3,4,5,6])
ps

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
ps.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [8]:
ps.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
ps[4]

5

In [10]:
ps = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
ps

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
ps['d']

4

In [13]:
dict1 = {'msd':'legend','vk':'captain','rs':'vice captain'}
s = pd.Series(dict1)
s

msd          legend
vk          captain
rs     vice captain
dtype: object

In [14]:
s[0]

'legend'

In [15]:
s['msd']

'legend'

## pandas dataframe

In [18]:
df = pd.DataFrame(np.random.rand(3,2),columns=['Cricket','Football'],index=['a','b','c'])
df.head()

    Cricket  Football
a  0.422607  0.005665
b  0.142469  0.249721
c  0.607918  0.785235

In [19]:
df['Cricket']

a    0.422607
b    0.142469
c    0.607918
Name: Cricket, dtype: float64

In [24]:
df['Cricket']['b']

0.14246930747483644

In [25]:
from datetime import date

In [37]:
x=date(2019,7,11)

In [44]:
x.weekday()

3